<div class="text-center mt-4">
  <h2>Change your password</h2>
  <p class="lead">Enter new password for your account.</p>
</div>

<div class="card">
  <div class="card-body">
    <div class="m-sm-4">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= render 'admins/shared/error_messages', resource: %>
        <%= f.hidden_field :reset_password_token %>

        <div class="mb-3">
          <%= f.label :password, 'New password', class: 'form-label' %><br>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em><br>
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: 'new-password',
                                          placeholder: 'Enter new password', class: 'form-control form-control-lg' %>
        </div>

        <div class="mb-3">
          <%= f.label :password_confirmation, 'Confirm new password', class: 'form-label' %><br>
          <%= f.password_field :password_confirmation, autocomplete: 'new-password',
                                                       placeholder: 'Repeat your password', class: 'form-control form-control-lg' %>
        </div>

        <div class="text-center mt-3">
          <%= f.submit 'Change my password', class: 'btn btn-lg btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
